<div class="pie-board" ng-style="{
        height: $ctrl.getTotalHeight(),
        width: $ctrl.getTotalWidth()
     }">
    <svg xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         class="pie-board-svg"
         ng-attr-height="{{$ctrl.getTotalHeight()}}"
         ng-attr-width="{{$ctrl.getTotalWidth()}}">
        <defs>
            <pattern id="smalldot" patternUnits="userSpaceOnUse" width="5" height="5">
                <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+"
                       x="0" y="0" width="5" height="5">
                </image>
            </pattern>
        </defs>

        <path ng-repeat="pieSlice in $ctrl.pieBoardData"
              ng-attr-id="{{pieSlice.id}}"
              ng-attr-d="{{$ctrl.getPieSlicePath($index)}}"
              ng-attr-fill="{{$ctrl.isPieSliceSelected($index)? 'aqua' : pieSlice.color}}"
              ng-click="$ctrl.onPieSliceClick($index, $event)"
              stroke="black">

        </path>

        <text ng-repeat="pieSlice in $ctrl.pieBoardData"
              ng-attr-id="{{'text' + pieSlice.id}}"
              ng-attr-x="{{$ctrl.getPieSliceTextX($index)}}"
              ng-attr-y="{{$ctrl.getPieSliceTextY($index)}}"
              ng-attr-font-weight="{{$ctrl.isPieSliceSelected($index)? 'bolder' : 'normal'}}"
              ng-attr-font-size="{{$ctrl.isPieSliceSelected($index)? 12 : 9}}"
              ng-click="$ctrl.onPieSliceClick($index, $event)"
              text-anchor="middle"
              cursor="default"
              dominant-baseline="middle"
              font-family="Courier">
            {{pieSlice.id}}
        </text>


        <path ng-show="$ctrl.shouldShowBlankSector()"
              ng-attr-d="{{$ctrl.getBlankSectorPath()}}"
              style="fill: url(#smalldot) white;"
              stroke="black">
        </path>

    </svg>
</div>
